table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h4, h5 {
	display: inline-block;
}

.price {
	text-align: right;
	vertical-align: top;
}

.price h3 {
	margin-top: 3px;
	margin-bottom: 2px;
	font-size: 3.2em;
	color: #4582ec;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#drink-name {
	margin-top: 3px;
	margin-bottom: 2px;
}

#drink-name:hover {
	text-decoration: underline;
}

.post-tag {
	text-align: right;
	vertical-align: bottom;
}

.feedDivider {
	height: 1px;
    background: black;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}