/* index page styles */

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}


#canvas {
	width: 100%;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

#mapContainer {
	padding-left: 0px;
	padding-right: 0px;
}

#map {
	height: 450px;
	border: 1px solid black;
}

.feature-deal {
	width: 400px;
	height: 300px;
	border: 1px solid black;
	margin-left: 2%;
	margin-right: 2%;
}

.sideBar {
	background:#EFC849;
	height: 100%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	

}

.sideBarButtons {
	margin-left: auto;
	margin-right: auto;
	
}

.sideBar div {
	margin-bottom: 10%;

	
}

#feature-title {
	font-family: 'Lobster', cursive;
	font-size: 36px;
}

.features {
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin-top: 10px;
    margin-left: 10px;
    border: 2px solid black;
    width: 350px;
}
#card[class$="card"]{
	z-index: 1; 
	position: absolute; 
	left: 0px; 
	top: 0px;
}

#card-title {
	
	color:#EFC849;
    background-color: #4582ec;
}

#card-title p {
	
	font-family: 'Lobster', cursive;
	font-size: 24px;
	font-weight: normal;

	margin-bottom: 0px;
}

#card-content {
	background-color: #fff;
}

#card-input {
	background-color: #fff;
	text-overflow: ellipsis;
	font-size: 16px;
	width: 336px;
	height: 30px;
	margin: 5px 5px 5px 5px;
}

#card-input:focus {
	border-color: #4582ec;
}

.myColor{
	color:#FFD600;
	background-color: #4582ec;
}

#card-title p {
	color:#FFD600;
	background-color: #4582ec;
}
/* for mobile */

/* if width is less than 992px, decrease side bar height*/

@media only screen and (max-width: 992px) {
	.sideBar {
		height: 40%;
	}

	.sideBar div {
		margin-bottom: 5%;
	}
}