/* post deal page styles */

.formBox {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid black;
	border-radius: 20px;
}

.middleBox {
	display: flex;
  	align-items: center;
  	justify-content: center;
}
